@import 'jeet'
@import 'rupture'

@import 'css/lib/owl.carousel.css'
@import 'css/lib/owl.theme.css'
@import 'css/lib/owl.transitions.css'
@import 'css/lib/magnific-popup.css'
@import 'css/lib/onScreenKeyboard.css'
@import 'css/lib/jquery.bxslider.css'
@import 'css/lib/glyphicons.css'
@import 'css/lib/jquery-ui.css'

brown = #86412A
orange = #FF6B00

@import 'styl/*.styl'

.page-start
.page-home
.page-choose-theme
  display: block

*
  transition: all 200ms ease
  box-sizing: border-box

.transition-to-black
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  opacity: 0;
  transition: opacity 250ms ease
  &.active
    z-index: 110
    opacity: 1
  &.unactive
    opacity: 0

.hide *
  opacity: 0

body
  margin: 0
  padding: 0
  font-family: Lato
  overflow: hidden

.container
  max-width: 1280px
  max-height: 800px
  position: relative
  margin: 0 auto
  overflow: hidden

@keyframes slideUp
  0%
    transform: translateY(0)
  100%
    transform: translateY(-100%)

.cover
  background-color: rgba(#000, 0.9)
  position: absolute
  top: 0
  left: 0 !important
  bottom: auto !important
  z-index: 10 !important
  width: 100%
  height: 100%
  &.active
    display: block
    & + .main-place-accessory
      display: block

.center
  text-align: center

.currency
  font-size: 1.25em
  span
    font-size: 0.65em

.tooltip
  overflow: visible !important
  &:after
    background-color: #524B52
    color: #fff
    position: absolute
    bottom: -20px
    width: 50px
    height: 20px
    left: 50%
    transform: translateX(-50%)
    content: attr(data-price)

