.column-title{font-size: 12px; font-weight: bold; text-transform: uppercase; color:#414042}
table{font-size:14px}
td{padding:0;}
select{width:300px; font: normal 14px lato-light; color: #414042; padding: 3px 0 3px 2px;}
input[type=number]{width:70px}
.data-description div{font-size:24px; font-family: 'lato-bold-webfont'; margin-bottom:10px; color: #004626;}
.data-description p{display:block;margin-bottom:20px; width:inherit; font-size: 16px; font-family: 'lato-light'; color: #414042; line-height: 21px;}
.product{width:100%;border-top: 1px solid #babcbe;float:left; padding: 15px 0 0 0;}.product table{padding: 0;}
.data-summary td{border: none; vertical-align: middle; font-family: lato-light; font-size: 14px; padding: 5px 0; width: 82%;}
.data-options td{border-bottom:none}
.options{display:block;margin-left:20px}
.options .option-name{font-style:italic;font-weight:700;color:#383838}
.wrapper{height:auto;overflow:auto;padding:30px}.pic-wrapper02 {display: none;}
.pic-wrapper{background: #cfd1d2; border: none; height: auto; vertical-align: middle; width: 450px; padding: 0 !important; display: block; }img.pic-wrapper{width:450px; height: 450px; padding: 0; vertical-align: baseline;}
table tr td.pic-wrapper + td { padding-left: 15px; vertical-align: top; }
.amount{font-family: 'lato-light'; color: #414042}
.btnAddToCart {padding: 10px 12px;background: #E9000F; float: right;color: #fff;margin: 25px 0 0 0;font: normal 21px lato-black-webfont; text-transform: uppercase; box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}
.btnAddToCart:hover {background: #006600;}
.disabled-anchor {pointer-events: none !important;cursor: default !important;}
.custom-options li { clear: both; }
.custom-options input[type='radio'] { margin: 3px 10px 0 0; float: left; }
.custom-options input[type='checkbox'] { margin: -2px 10px 0 0; float: left; }
/**login ribbon**/
#login_block { float: left; cursor:default}#logo { float: left; margin-right: 25%; }
#logo img { width: auto; height:80px }
#banner { float: right; margin-right: 15px;}
#banner img { width: 140px; height:auto; margin: 25px 5px 0 0; }.default_popup,.green {	background: #009438;	width: 132px;	display: block;	padding: 10% 0;	position: relative;	outline: none;}.default_popup,.green:after {	top: 100%;	left: 0;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;	border-color: rgba(0, 148, 56, 0);	border-top-color: #009438;	border-width: 20px 66px;	margin-left: 0;}.green:hover li, .green:hover img, .default_popup:hover li, .default_popup:hover img{	opacity: .9;}.default_popup ul, .green ul{	text-align: center;	line-height: 15px;	color: #fff;	text-transform: uppercase;	margin: 0;}.default_popup, li .green li{	display: block;}.default_popup li:nth-child(2), .green li:nth-child(2){	font-size: 14px;	font-weight: 700;	margin: 5px 0 0 0;}.default_popup li:last-child, .green li:last-child{	font-size: 16px;	font-weight: 900;}
table.product { width: inherit; }
table.product span.column-title { width: 200px; display: block; float: left; margin-right: 13px; margin-top: 5px; }
table.product .size-select { width: 270px; }

.reveal-modal { padding: 0;}
.price-configured-wrapper {text-transform: uppercase;}.price-configured-wrapper span {font-weight: 700; }


#aitoc_rewrite_saveshipping_form { width: inherit; margin:  0 0 0 30px; display: block; color: #414042; }
#aitoc_rewrite_saveshipping_form .form-list .fields,
#aitoc_rewrite_saveshipping_form .form-list .control { margin-bottom: 15px; display: block; }
#aitoc_rewrite_saveshipping_form .gwdaitocfield { padding: 4px; margin: 8px 0 0 45px; }
#aitoc_rewrite_saveshipping_form .form-list .fields .input-box { margin-bottom: 10px; display: inline-block;}
#aitoc_rewrite_saveshipping_form .form-list .control .options-list label { display: block; padding-left: 15px; text-indent: -15px;  }
#aitoc_rewrite_saveshipping_form .form-list .control .options-list label > input { position: relative; vertical-align: bottom; width: 30px; }

#aitoc_custom_error_message_wrapper { background: #FCDEDE; padding: 10px; border: 1px solid #F95757; font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; }
#aitoc_custom_error_message_wrapper ul li { display: block; margin-bottom: 5px; }
#aitoc_custom_error_message_wrapper ul li:last-child { margin-bottom: 0; }

.receipt-item-options {padding: 0; font-size: 14px; color: #004626}
.receipt-item-value, .receipt-item-label  {padding: 0; font-size: 12px; margin:0 10px;}

.receipt-popup-productname {font-size:14px; font-weight: bold; padding-left:2%; color: #004626;}
.receipt-popup-item-options {font-size: 14px; padding-left:60px;}
.receipt-popup-item-value {padding-left:20px;}

.field label {font: bold 14px latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; display: inline-block; width: 256px; }

.delivery-confirmation-wrapper {width: 100%; margin: 0;}
.inner-delivery-confirmation {width: 100%; margin: 0;}
form.aitoc_rewrite_saveshipping_form {width: 300px; margin: auto;}