
/**
 * Checkout Fields Manager
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitcheckoutfields
 * @version      2.9.5
 * @license:     n/a
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
.aitcfm_review_1 {
    margin-top: -7px;
}

.aitcfm_review_2 {
	margin: 8px 0px -13px;
}

#shipping_method_ait {
    width: 260px;
}