@media (min-width : 320px) and (orientation:portrait){
	p.footertext {font-size: 14px; text-align: center; margin: 0}
	.footertext2 li{text-align: center; font-size: 14px; padding: 2.5px 0; margin: 0; border: none;}
	.footertext2 { width: 100%; text-align: center; margin: 5% 0 0 0;}
	.navbar-brand  {width: 35%; height: auto; }
}

@media (min-width : 768px) and (orientation:portrait){
	.footertext2 li{text-align: right; font-size: 14px; padding: 2.5px 0; margin: 0; border: none;}
	.footertext2 { width: 100%; margin: 5% 0 0 0;}
	p.footertext {font-size: 14px; text-align: left; margin: 0}
}

@media (min-width: 992px) and (orientation:portrait){
	.footertext2 li{text-align: right; font-size: 14px; padding: 2.5px 0; margin: 0; border: none;}
	.footertext2 { width: 100%; margin: 5% 0 0 0;}
	p.footertext {font-size: 14px; text-align: left; margin: 0}
}

@media (min-width : 320px) and (max-width : 767px) {
	.red-area {height: 55px;}
	.top {height: auto;}
	.banner, .green{display: none;}
	.navbar-header {width: inherit;}
	.rightside {display: none;}
	.banner-menu {
		display: block;
		background: #BF0B00;
		border: 1px solid #a70900!important;
		margin:  0;
		padding: 2.5%;
		color: white;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		float: right;
		vertical-align: middle;
		height: 55px;
	}
	.banner-menu:active {background: rgba(167, 9, 0, .2);}	
	.musta > span{font: bold 14px lato;}
	.social-media {display: none;}
	.resibo  {font-size:18px;}
	.promo {padding: 0 0 15px 0;}
	.productlist { display: inline-block; margin: 0 ; vertical-align: top; padding-left: 14px !important; }
	/*.productlist li{ text-align: center; width: 70px; height: 150px; line-height: 18px; margin: 0; }
	.jcarousel-skin-tango .jcarousel-item {width: 88px; height: auto;}*/
	/*.productimg { width: 80px; height: 80px;}*/

	.cart1{width:45%;background:#bbbcbe; margin: 0 1.5% 3.5% 1.5%; display:inline-block; padding: 4px 0 4px 4px;}
}
@media (max-width : 555px) and (min-width : 400px) {
	title, .title span {font-size: 14px;}
		.productimg { width: 120px !important; height: 120px !important;}
		.jcarousel-item-horizontal{margin-right: 0px;}
}
@media (min-width : 740px)  {
		.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 150px !important; height: 150px !important;}
}

@media (min-width : 580px)  {
.jcarousel-skin-tango .jcarousel-container-horizontal { padding-left: 50px; height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 140px !important; height: 140px !important;}
.jcarousel-item-horizontal{margin-right: 40px;}
}


@media (min-width: 555px) {
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1500px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 175px; margin-right: 20px; }

}
@media (min-width: 360px) {
	.title, .title span {font-size: 14px;}
.jcarousel-skin-tango .jcarousel-container-horizontal {padding-left: 40px !important;height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1400px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 150px; margin-right: 0px; }

}


@media (min-width: 320px) {
	.title, .title span {font-size: 14px;}
.jcarousel-skin-tango .jcarousel-container-horizontal {padding-left: 0px;height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1400px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 150px; margin-right: 0px; }

}

@media (min-width: 768px){
	.red-area {height: 67px;}
	.top {height: auto;}
	.banner, .green{display: none;}
	.navbar-header {width: inherit;}
	.rightside {display: none;}
	.banner-menu {
		display: block;
		background: #BF0B00;
		border: 1px solid #a70900!important;
		margin:  0;
		padding: 2.5%;
		color: white;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		float: right;
		vertical-align: middle;
		height: 67px;
	}
	.banner-menu:active {background: rgba(167, 9, 0, .2);}	
	.musta > span{font: bold 18px lato;}
	.social-media {display: none;}
	.productlist { display: inline-block; margin: 0 3%; vertical-align: top; }
	.productlist li{ text-align: center; width: 150px; height: 230px; line-height: 18px; margin: 0; }
	.jcarousel-skin-tango .jcarousel-item {width: 200px; height: auto;}
/*	.productimg { width: 150px; height: 150px;}*/
	.cart1{width:45%;background:#bbbcbe; margin: 0 1.5% 3.5% 1.5%; display:inline-block; padding: 4px 0 4px 4px;}
}

@media (min-width: 992px) {
	.title, .title span {font-size: 20px;}
	.red-area {height: 72px;}
	.banner, .green{display: block;}
	.navbar-header {width: 50%;}
	.rightside{float: right; padding: 0;}

	.banner img { width: 100%; height:auto;}
	.banner-menu{display: none;}
	#login_block { float: right; cursor:default; position: relative; z-index: 5; vertical-align: top;}
	#login_block img{ width: 25px; height: auto;}
	#login_block ul{ display: block;}
	
	.musta > span{font: bold 18px lato;}
	.social-media {display: block;}
	
	.resibo  {font-size: 24px;}
	
	.pic-wrapper {width:400px; height: auto; overflow:hidden; background: #cfd1d2;text-align: center;display: table-cell; }
	
	.pic-wrapper img{margin: 0;}
	.data-description {width: 52%; margin: 0; padding: 30px 20px; display: table-cell; vertical-align: top}
	.reveal-modal {max-width: 850px;}
	.product-box {width: 900px; background: #e4e5e6;}
	.promo {padding: 0;}
	.productlist { display: inline-block; margin: 0 3.5%; vertical-align: top; }
	.productlist li{ text-align: center; width: 120px; height: 185px; line-height: 18px; margin: 0; }
	.jcarousel-skin-tango .jcarousel-item {width: 173px; height: auto;}
/*	.productimg { width: 150px; height: 150px;}*/
	.cart1{width:45%;background:#bbbcbe; margin: 0 1.5% 3.5% 1.5%; display:inline-block; padding: 4px 0 4px 4px;}

}
@media (min-width:320px) and (max-width:480px) {
	title, .title span {font-size: 14px !important;}
.jcarousel-skin-tango .jcarousel-container-horizontal { padding-left: 0 !important; height: 410px; padding: 20px 35px; width: 86% !important; margin: auto;}
.productimg {width: 160px; height: 160px;}

	.red-area{ background-position-x: 17px; background-size: 61%; height: 45px;}
	.navbar{height: 45px;}
	.banner-menu{height: 45px;}
	.
}

@media (min-width:480px) and (max-width:680px) {
	.title, .title span {font-size: 14px;}
	.red-area{ background-position-x: 20px; background-size: 50%;}
}
@media (min-width:680px) and (max-width:770px) {
	.jcarousel-skin-tango .jcarousel-container-horizontal { padding-left: 0 !important; height: 410px; padding: 20px 35px; width: 86% !important; margin: auto;}


	.title, .title span {font-size: 14px;}
	.red-area{ background-position-x: 20px; background-size: 43%;}
}
@media (min-width:770px) and (max-width:1199px) {}
    .title, .title span {font-size: 20px;}
	.red-area{background-size: 50%}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.title, .title span {font-size: 20px;}
	.red-area {height: 72px; background-size: 44%;}
	.rightside .banner{
		width:70%;
		height: auto;
		margin: 0;
		vertical-align: top; 
		padding: 8% 0 0 0;
		margin-right: 75%;
		height: 83px;
		float: right;
	}
	.navbar {height: 72px;}
}

@media (min-width: 1200px) {
	.title, .title span {font-size: 24px;}
	.red-area {height: 72px;}
	.banner, .default_popup{display: block;}
	.rightside{float: right; padding: 0;}
	.rightside .banner{
		width: 200px;
		height: auto;
		margin: 0;
		vertical-align: top; 
		padding: 5% 0 0 0;
		margin-right: 150px;
		float: right;
	}
	
	.banner img { width: 90%; height:auto;}

	.banner-menu{display: none;}
		
	.navbar-brand  {margin: 0; padding: 0; width:95%;}

	#login_block { float: right; cursor:default; position: relative; z-index: 5; vertical-align: top;}
	#login_block img{ width: 25px; height: auto;}
	#login_block ul{ display: block;}
	
	.musta > span{font: bold 24px lato;}
	.social-media {display: block;}
	
	.resibo  {font-size: 24px;}
	
	.pic-wrapper {
		height: auto; 
		overflow:hidden; 
		background: #cfd1d2;
		text-align: center;
		display: table-cell;
	}
	
	.pic-wrapper img{margin: 0;}
	.data-description {width: 52%; margin: 0; padding: 30px 20px; display: table-cell; vertical-align: top}
	.reveal-modal {max-width: 850px;}
	.product-box {width: 900px; background: #e4e5e6;}
	.productlist { display: inline-block; margin: 0 3.75%; vertical-align: top; }
	.productlist li{ text-align: center; width: 150px; height: 0; line-height: 18px; margin: 0; }
	.jcarousel-skin-tango .jcarousel-item {width: 220px; height: auto;}
/*	.productimg { width: 150px; height: 150px;}*/
	.cart1{width:30%;background:#bbbcbe; margin: 0 1.5% 3.5% 1.5%; display:inline-block; padding: 4px 0 4px 4px;}
}





}
@media (min-width: 480px) and (max-width: 600px) {
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1400px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 175px; margin-right: 30px !important;}
.title, .title span {font-size: 20px;}
}
