/*custom error for aitoc*/
.aitoc-error {border:1px dashed red;}

 /* Account Form */
.account-form-wrapper { padding: 0; text-align: left; margin: 0; }
.account-form-wrapper p { margin: 10px 0 ; width: auto; }
.account-form-wrapper .legend { color: #008000; font-weight: bold; margin-left: 0; text-transform: uppercase; font-size: 16px;}
.account-form-wrapper input[type="text"],
.account-form-wrapper input[type="password"] { padding: 5px 8px; margin-top: 4px; width: 245px; }
.account-form-wrapper input.short { width: 50px; }
.account-form-wrapper input:focus { border: 1px solid #41EA6B; outline:none; }
.account-form-wrapper label { font-size: 14px; font-weight: 700; width: 45%; display: inline-block; vertical-align: middle; color:#414042;}
.account-form-wrapper .additional-info { margin-left: 25px; }
.account-form-wrapper .additional-info li { margin-bottom: 13px; }
#signup_form .account-form-wrapper {
	margin: auto;
	width: 71%;
	margin-bottom: 12px;		text-align: left;	
}
#signup_form input[type="checkbox"] + label {
	float: none;
	font-size: 13px;
	font-weight: normal;
	margin-left: -1px;
}

div#add_address_step3 .account-form-wrapper {
	margin: 0 auto 12px auto;
	width: inherit;
}
div#add_address_step3 input[type="checkbox"] + label {
	float: none;	font-size: 13px;	font-weight: normal;	margin-left: -1px;		width: 250px;
}

div#add_address_step2 input[type="checkbox"] + label, div#edit_address_book_step2 input[type="checkbox"] + label {
	float: none;
	font-size: 13px;
	font-weight: normal;
	vertical-align: top;		width: 250px;
}

#edit_address_book input[type="checkbox"] + label {
	float: none;
	font-size: 13px;
	font-weight: normal;
	margin-left: -1px;
}

div#placeorder_backdrop {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    cursor: pointer;
}

div#product_list_wrapper {padding-left:10px;}

.counter{
margin-top: 5px;
font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
font-weight: bold;
font-size: 11px;
font-style: italic;
width: 100%;
text-align: center;}



span.logging_in_content { font-size: 24px; padding-left: 38%; padding-top: 15%; width: 100%; }



span.location_captionslash {

	padding-left: 10px;

	padding-right: 10px;

}



.location-active {

	color:#00B40B !important;



}

.hidden {display:none;}

.check { 

	overflow: hidden; 

	margin-left: 17%; 

	display: inline-block; 

	width: 200%;

	margin-top: -30%;

	 margin-bottom: -10%; 

	letter-spacing: -.5px; 

}



	.checkbox { margin-left: 5%; margin-bottom: 0%; background-color: transparent; width: 100%; }

	.greencardcheck { float: left; margin-bottom: -10%; margin-left: 8% }



	input[type="checkbox"] {
	    height: 20px;
	   /* margin-left: -145px;*/
	}

	input[type="checkbox"] + label {

		margin-left: 4px;
		overflow: hidden;
		color: black;
		font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
		font-size: 11px;
		font-weight: bold;
		margin-top: 4px;
		float: left;
			}


	input[type="checkbox"] + label span {

	    margin-bottom: -2.3%;

	    margin-right: .5%;

	    display:inline-block;

	    width:21px;

	    height:22px;

	    vertical-align: left;

	    background-color: blue;

	    cursor:pointer;

	}



	input[type="checkbox"]:checked + label span {

	   

	}



/*--------------------- inside lightbox------------------*/

#light_resibo_wrapper { padding: 1%; background-color: transparent; }

.resiboline2 { width: 94%; margin-left: 0%; margin-bottom: 2%; margin-top: 2%; margin-left: 3%; }

.resiboline3 { margin-top: 3%; margin-bottom: -3%;}

.resiboline4 { margin-top: 5%; margin-bottom: 2%; width: 100%; margin-left: 5%; }



.lightcardleft { background-color: transparent; width: 47%; float: left; margin-top: 5%; }

.lightcardright { background-color: transparent;  width: 50%; float: left; margin-top: 5%;}

.lightcard { float: right; margin-top: 10%; margin-right: 5%; }

.lightcardlabel { font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; font-size: 13px; width: 100%; padding-left: 2%; padding-top: 5%; }



.finalorder, .ok { font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; font-size: 24px; width: auto; margin-top: 10px; text-align: center; }
.finalorder a {color:black;}


.light_thank_you_link { color: black; }

.light_thank_you_link:hover { color: green; }



.thankyoustyle {  background-color: transparent; width: 100%; padding-top: 3%; display: block; text-align: center; }

.thankyou1 { font-family: lato-light; font-weight: bold; font-size: 25px; color: #008000; }

.subthankyou { font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; font-size: 18px;  display: block; margin: 5% 0; text-align: center; color: #414042 ;}

.thankyoulogo { width: 95%; margin: 5% auto; }

/*.ok { font-family: latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; font-size: 35px; float: left; margin-top: 30%; margin-left: -55%; margin-bottom: 2%;}*/



.checkbox3 { float: left; margin-left: 10%; margin-bottom: 0%; background-color: transparent; width: 100%; margin-top: 2%;}



input[type=checkbox3]{display:none;height:20px}

input[type=checkbox3] + label{overflow:hidden;color:#000;font-family:latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;font-size:11px;font-weight:700}

input[type=checkbox3] + label span{margin-top:-4%;display:inline-block;width:21px;height:22px;vertical-align:left;background-color:blue;cursor:pointer}

input[type=checkbox3]:checked + label span{}



/*------------------- inside lightbox-----------------*/

label.greencard{display:inline-block;width:195%;overflow:hidden;font-weight:700;margin-left:0;margin-top:-20%;font-family:Times;font-color:#000}

.placeorder{font-size:30px;font-family:latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;;color:#000;width:100%;background-color:transparent;overflow:hidden;text-align:center;margin-top:2%;margin-bottom:-1%}





/*FOOTER (container)*/
.inner {max-width: 1024px; margin: 0 auto}
.footer{background-color:#00150c; clear: both; width:100%; padding: 30px 0; margin: 75px 0 0 0}

p.footertext{margin-left:.5%;float: left; width:70%;color:#FFF;margin: 0; font-family:lato-light, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;letter-spacing:0;font-size:18px}

.footertext2{width:25%;color:#FFF;margin: 0;font-size:14px; float: right; letter-spacing:0;}.footertext2 li{ text-align: right !important; display: block; font-family:'lato-bold-webfont'; font-size: 18px;}

.visa{margin: 0 0 0 10px ; padding: 0; }
.visa-step4{vertical-align: top;}
a.footerclick{color:#FFF;text-decoration:none}

a.footerclick:hover{color:#00da14}

.indent{padding-left:30px}

span.strong{font-weight:700}

span.page-header-title{font-size:15px}

div#terms_condition_wrapper h1.page-title,h2.section-title,h3.section-content{font-family:latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; color:#444}

h2.section-title{font-size:14px;font-weight:700}

h3.section-content{font-size:13px}

.italic{font-style:italic}

ul.item_cart{list-style-type:none;float:left}

ul.item_cart li.aaa{background-color:red;padding:15px}

span.underline,.underline{text-decoration:underline}

h1.page-title{font-size:20px}



div#isloggedin_wrapper { margin: 0; padding-top: 30px; text-align: center; }

div#isloggedin_wrapper a { cursor:pointer;}

div#shopping_cart_empty_wrapper { padding:5% 0 0 32%;}

div#product_loader, div#cart_loader {

	margin-left:50%;

	padding-top:5%;

}



div#product_loader {}
div#resibo_loader_sidebar {

	margin-left: 50%;

	padding-top:5%;

}



table.resibo_total_breakdown {background: #005926; width: 100%; font-size: 14px; padding: 17px 13px; margin: 0; font-family:lato-black-webfont!important; }
table.resibo_total_breakdown td:first-child{color: #f3f3f3;}
table.resibo_total_breakdown td:last-child{ width: 50%;text-align: right; font-family: 'lato-light'; color: #fff!important;}
/**pop up**/table.resibo_total_breakdown-popup {border-top: 1px solid #BCBDBF; width: 100%; font-size: 24px; padding: 17px 13px; margin: 0; font-family:lato-black-webfont!important; }
table.resibo_total_breakdown-popup td:first-child{color: green;}table.resibo_total_breakdown-popup td:last-child{ width: 50%;text-align: right; font-family: 'lato-light'; color: rgba(56, 56, 56, 1)important;}table.resibo_total_breakdown-popup td:last-child b{ float: none;}#colorbox_content_wrapper{color: #34393C;}

table.resibo_total_breakdown_popup {margin-left: 2%}

table.resibo_total_breakdown_popup td.content{padding-left:43.5%;}



table.resibo_item_list {margin: 20px 0; padding: 0 13px;}

table.resibo_item_list td.item_content {padding: 0;}



table.resibo_item_list_popup {margin-left: 14%;}

table.resibo_item_list_popup td.item_content_popup {padding:0; width: 50%;}
.clear {clear:both;}
.left {float:left;}

div#page_is_loading { background-color:white;}
div#page_is_loading img {vertical-align: middle; padding-left:1%;}

img.down_click {padding-left:65%;}

.order-viewed-active { background-color:green; color:white !important; }
.order-viewed-active a { color:white !important; }

a.quick_my_account_link {color:#15C101 !important;}
span.red {color:red; font-weight: 700;}

.productimg {border: 3px solid #009326; box-sizing: border;}
img.productimg:hover{border: 3px solid #BABBC0; box-sizing: border;}

ul.custom-options {margin: 0; padding:0; list-style-type:none;}
ul.custom-options li { display: block; }