.productlabelno { margin-left: 24%; margin-top: 5%; font-family:latoregular, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; font-size: 14px; display: inline-block; font-weight: bold; color:#FF0000;  }
.productlist { text-align: center; }
.productimg { border: 3px solid green;}
.productimg :hover { border: 3px solid gray;}
.jcarousel-skin-tango { background-color: transparent; width:100%; padding: 0 0 30px 0; }
.jcarousel-skin-tango .jcarousel-container {background: transparent; border: none;}
.jcarousel-skin-tango .jcarousel-direction-rtl {direction: rtl;}.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 30px; width: 100%; margin: auto;}.jcarousel-skin-tango .jcarousel-container-vertical { width: 75px; height: 245px; padding: 40px 20px;}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}.jcarousel-skin-tango .jcarousel-clip-horizontal { width: 100%; background-color: transparent;}
.jcarousel-skin-tango .jcarousel-clip-vertical { width:  75px; height: 245px;}
.jcarousel-skin-tango .jcarousel-item-horizontal {/* margin: 0 0 9px 0;*/ text-align: center;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 10px; margin-right: 0;}
.jcarousel-skin-tango .jcarousel-item-vertical {margin-bottom: 10px;}
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000;}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("arrow_right.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 12px;
    width: 32px;
   top: 200px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(arrow_right.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    opacity: .7;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}
/*.listitems {max-width: 1500px!important; min-width: 960px!important;}*/
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("arrow_left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 60px;
    left: 12px;
    position: absolute;
    top: 200px;
    width: 32px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(arrow_left.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    opacity: .7;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(arrow_right.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    opacity: .7;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(arrow_left.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    opacity: .7;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 0;
}



/*responsive area*/

/*@media (min-width:900px) and (max-height: 1600px){
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px;    padding-left: 42px;  padding: 20px 65px !important; width: 100%; margin: auto;}
.productimg {width: 200px; height: 200px;}
}



@media (min-width: -width: 740px) and (max-height: 900px){
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px;    padding-left: 42px;  padding: 20px 38px !important; width: 100%; margin: auto;}
.productimg {width: 200px; height: 200px;}
}*/

/*
@media screen and (min-width:1200px) {
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 150px !important; height: 150px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal{ width: 136px !important; margin-right: 30px !important;}
 .jcarousel-item-horizontal{width: 175px !important; margin-right: 30px !important;}
 ul.product_list_items{width: 1400px !important;}
 .jcarousel-skin-tango .jcarousel-clip-horizontal{margin-left: 10px;}
}
*/

@media screen and (min-width:1200px) {

.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 32px; width: 100%; margin: auto;}
.productimg {width: 150px; height: 150px;}
.product_list_items{width: 1500px !important;} 
.jcarousel-item-horizontal{width: 175px; margin-right: 0px !important; }

}

@media screen and (min-width:900px) {

.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 150px; height: 150px;}
}
@media screen and (min-width:680px) {

.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 150px; height: 150px;}
}


@media screen and (max-width: 600px) {
    .jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1500px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 175px; margin-right: 20px; }

}
@media (min-width: 555px) {
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1500px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 175px; margin-right: 20px; }


 /*.jcarousel-skin-tango .jcarousel-clip-horizontal{margin-left: 10px;}*/


}





@media (min-width: 320px) {
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
 ul.product_list_items{width: 1400px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 175px; margin-right: 20px; }


}




@media (min-width: 200px) {
.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 120px; height: 120px;}
 ul.product_list_items{width: 1400px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 175px; margin-right: 20px; }



}
@media (min-width: 360px) {
 /*   .title, .title span {font-size: 14px;}*/
.jcarousel-skin-tango .jcarousel-container-horizontal {  height: 410px; padding: 20px 35px; width: 100%; margin: auto;}
.productimg {width: 160px; height: 160px;}
 ul.product_list_items{width: 1400px !important;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal
{ width: 136px !important; margin-right: 30px !important;}
.jcarousel-item-horizontal{width: 150px; margin-right: 0px; margin-left: 40px;}

}



/*@media (min-width: 675px){

.jcarousel-skin-tango .jcarousel-container-horizontal { height: 410px;    padding-left: 42px;  padding: 20px 38px !important; width: 100%; margin: auto;}
.productimg {width: 180px; height: 180px;}
li.jcarousel-item .jcarousel-item-horizontal .jcarousel-item-1 .jcarousel-item-1-horizontal{ width: 136px !important; margin-right: 30px !important;}
 .jcarousel-item-horizontal{width: 175px !important; margin-right: 30px !important;}
 ul.product_list_items{width: 1400px !important;}
 .jcarousel-skin-tango .jcarousel-clip-horizontal{margin-left: 10px;}
}*/