@media screen and (min-width:320px) and (max-width : 767px) and (orientation : portrait) {body{background:#002113}h2 {font-size: 12px;}#logo {width: 73%; height: auto; margin: 0}#logo img{width: 100%; height: auto;}#banner {display: none;}#banner-menu {	display: block;	background: #BF0B00;	border: 1px solid #a70900;	text-align: center;	float: right;	margin: 5px 5px 0 0;	height: auto;	width: 30px;	-webkit-border-radius: 2px;	-moz-border-radius: 2px;	border-radius: 2px;	color: white;}#banner-menu:active {	background: rgba(167, 9, 0, .2);}#banner-menu .menu-line{	width: 25px;	height: 2px;	margin: 4px auto;	background: #fff;	display:block;}#banner-menu img{	margin: 4px auto 0 auto;	width: 20px;	height:auto;}#login_block {display: none;}.header-container {height:42px;}.main-content { width: 100%; }#logged_user_wrapper span{font-size:70%;}.left{background:transparent; width:100%; height:auto;}.right{margin-top:.1%;float:left;overflow:hidden; width: 100%; height:auto; margin: 0}.social-media {display: none;}h4.title{font-size: 85%; }.resibobody{height:auto; margin: 5% 0 0 0; width:100%; background:#f4f4f4; }p.footertext {font-size: 12px; text-align: center; width: 100%; margin: 0}.footertext2 li{font-size: 12px; display: inline-block; padding: 0; margin: 0 .5%;  border: none!important;}.footertext2 {float: left; width: 100%; text-align: center;}div.nav-container {font-size: 14px; text-align: center; line-height: 24px; margin: 5% auto 1% auto;}.jcarousel-skin-tango {width: 80%;}.productimg {height: auto; width: 110px;}.jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal {top: 145px;}#product_options_modal_wrapper {width:300px; margin: 0 auto;}.pic-wrapper02 {width: 100%; height: auto; overflow: hidden; display: block; background: #cfd1d2; margin: 0 0 25px 0}.pic-wrapper02 img{width: 100%; height: auto;}.pic-wrapper {display: none;}.wrapper {padding: 30px 10px; margin: 0;}.data-description {width: 100%; padding: 0; margin: 0;}.data-description p{font-size: 14px;}table.product {width: 100%;}#select_46 {width: 150px;}table tr td.pic-wrapper + td {padding: 0;}.btnAddToCart {padding: 10px; display: block; background: #E9000F; color: #fff;margin: 10% 20% 0 0;font: normal 21px lato-black-webfont; text-transform: uppercase; box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}.btnAddToCart:active {background: #006600;}}@media screen and (min-width:768px) and (max-width : 1024px) and (orientation : portrait) {
body{background:#002113}.main-content { min-width:768px; max-width: 1024px; }#logo {width: 40%; height: auto;}#logo img{width: 100%; height: auto;}#banner {display: none;}#banner-menu {	display: block;	background: #BF0B00;	border: 1px solid #a70900;	text-align: center;	float: right;	margin: 13px 15px 0 0;	height: auto;	width: 40px;	-webkit-border-radius: 2px;	-moz-border-radius: 2px;	border-radius: 2px;	color: white;}#banner-menu:active {	background: rgba(167, 9, 0, .2);}#banner-menu .menu-line{	width: 25px;	height: 2px;	margin: 4px auto;	background: #fff;	display:block;}#banner-menu img{	margin: 9px auto;	width: 25px;	height:auto;}#login_block {display: none;}.header-container {height:69px;}
/*Resibo Disclaimer*/
.topdisclaimer { width: 98%; background: transparent; margin-left: -2px; margin-right: auto; }
.resibodisclaimer { background: black; font-weight:700;font-family:lato;font-size: 9px; width:100%;background:transparent;text-align:right;color:#FFF; margin-top: 5px;}

.topdisclaimer2 { width: 98%; background: transparent; margin-left: -2px; margin-right: auto; }
.resibodisclaimer2 { background: black; font-weight:700;font-family:lato;font-size: 9px; width:100%;background:transparent;text-align:right;color:#FFF; margin-top: 5px;}

.left{background:transparent; width:100%; height:auto;}


	/*Greetings and Search bar-------------------------------------------------------------*/

		.greetsearch{height:2em;padding-top:1%;width:100%;background:t}

		.greet{float:left;overflow:hidden;background:transparent;width:60%}

		.musta{display:inline-block;width:100%; font-size: 16px;}

		.space{float:left;background:transparent;width:10%;color:transparent}

		.search{margin-top:1%;float:left;background:transparent;width:32%;text-align:right;margin-right:1%;padding-left:5.6%}

		.s{/*display:inline-block;width:70%;margin-top:-20%*/}

		.inputs{text-align:right;overflow:hidden;margin-top:.5%;/*float:left;*/background:transparent;/*width:24.5%;height:90%;*/margin-left:23%}

		#searchtextfield{/*margin-left:-30px;*/margin-top:1%;/*width:65%;*/height:40%;background:#fff;color:#F6F6F6;/*padding-left:2%;padding-right:2%;*/font-family:lato}


/*WHATS NEW*/
.whatsnewtitle{width:100%;max-height:38px;overflow:hidden}.whatsnewcontent, .ordercontent, .logincontent, .locationcontent-step3, .paycontent {width:75%;}
.account-dashboard-content {width:74%;}.cashtextfield1, s.cashtextfield2 {width:54%;}
.step0{max-height:36px;background:#009438;padding-top:.8%;width:100%;padding-right:25%;float:left}
h3.title{font-family:lato;font-size:30px;margin-left:5px;letter-spacing:2px;display:inline-block;width:100%}
.productimg {height: auto; width: 120px;}.jcarousel-skin-tango .jcarousel-item {width: 165px; height: auto;}
/*------------------------------------------------------------------------------------------------------------------------*/

#product_options_modal_wrapper {width:745px; top: 150px;}
.pic-wrapper {	width: 300px;	min-height: 500px;	background: #cfd1d2;	display: block;	overflow: hidden;}.pic-wrapper img{	margin: 50px 0;}

/*RIGHT CONTAINER -- RESIBO CONTAINER*/
/*RIGHT (container)
-----------------------------------------------*/

.otherinstructions { float: left; padding-left: 15px; padding-right: 16px; margin-top: 17px;}

.institle { font-size: 12px; font-weight: bold; padding-right: 70px; }

.instext { font-size: 12px; }

.right{margin-top:.1%;float:left;overflow:hidden; width: 100%; height:auto; margin: 0}

.resibotop{background:#000;overflow:hidden;margin-left:-1%;margin-right:auto;width:101%}

.rtop2 { height: 0px; width: 0px; }
.resibobody{height:auto; margin: 5% 0 0 0; width:75%; background:#f4f4f4; }
.resibo{font-size:24px; font-weight:900;margin:0;color:#035b31;width:100%;background:transparent;overflow:hidden;text-align:left;margin:4% 0 1% 1%;}
.deliverleft{margin-left:5%;background:transparent;width:46%;float:left;letter-spacing:-.5px}
.deliverright{padding-left:9%;background:transparent;width:40%;overflow:hidden}

.resiboline{width:90%;margin-left:5%;margin-bottom:1%}

.resiboorder{width:100%;background:transparent}

p.resibocontent,p.resibocontent2{display:inline-block;width:100%;background:transparent;font-size:11.5px}

.resibocontent,.resibocontent2{font-family:lato}

.rightresiboprice { margin-left: 50px; }

.rightresiboprice2 { margin-left: 153px; }

.qtytextfield2{margin-left:0;background:transparent;border:none;height:21.5px;width:30.9px;padding-left:2.5%;padding-right:1%;margin-bottom:1%;font-family:lato}

.qtytextfield3{margin-left:0;background:transparent;border:none;height:21.5px;width:17px;padding-left:2.5%;padding-right:1%;margin-bottom:1%;font-family:lato}

.update:hover { opacity: 0;}
.social-media {display: none;}
.updateholder {width: 90px; margin: -30px 5% -30px 155px; float: right; }

.xclick { float: left; margin-right: 1.5%;}

.xclick:hover { opacity: .4; }

.quantity{display:inline}

.quantity li{margin-left:7%;background:transparent;width:40%;list-style-type:none;float:left;margin-top:-8px;margin-bottom:10px;padding:0}

p.orderquantity{margin-left:5%;display:inline-block;width:650%}

p.orderquantity2{margin-left:25%;display:inline-block;width:650%}

.list{background:transparent;width:95%}

.item{margin-left:3%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:11px}

.pricequantity{margin-left:12%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:12px}
table.resibo_total_breakdown {width: 100%}
.totalprice{margin-left:54%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.totalprice2{margin-left:55%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.vat{/*margin-left:44.5%;*/display:inline-block;/*width:100%;*/margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.vat2{margin-left: 130px;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.method{margin-left:6%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.changefor{margin-left:22%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.changefor2{margin-left:23%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:13px}

.cardleft{background:transparent;width:inherit;text-align:center;}

.cardright{background:transparent;width:50%;text-align:left;overflow:hidden;height:4.8em}

.cardlabel{margin-left:3%;display:inline-block;width:100%;margin-bottom:-10%;letter-spacing:-.5px;font-size:10px}

.check{overflow:hidden;margin-left:17%;display:inline-block;width:200%;margin-top:-30%;margin-bottom:-10%;letter-spacing:-.5px}

.checkbox{margin-left:5%;margin-bottom:0;background:transparent;width:100%}

.greencardcheck{float:left;margin-bottom:-10; margin-left:8%}
.qtytextfield2{margin-left: 6px;background: #fff; border:1px solid #bbbcbe;height:21.5px;width:30.9px;padding-left:2.5%;padding-right:1%;margin-bottom:1%;font-family:lato, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;}.qtytextfield3{margin-left: 6px; background: #fff; border:1px solid #bbbcbe;height:21.5px;width:17px;padding-left:2.5%;padding-right:1%;margin-bottom:1%;font-family:lato, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;}
input[type=checkbox]{display:none;height:20px}input[type=checkbox + label]{overflow:hidden;color:#000;font-family:lato;font-size:11px;font-weight:700}

span{margin-top:5px}input[type=checkbox] + label span{margin-bottom:-2.3%;margin-right:.5%;display:inline-block;width:21px;height:22px;vertical-align:left;background:blue;background:url(../images/check_radio_sheet.png) left 0 no-repeat;cursor:pointer}input[type=checkbox]:checked + label span{background:url(../images/check_radio_sheet.png) -20px 0 no-repeat}

}