@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700,900,700italic);

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border:0;
	font-size:100%;
	font-family:lato;
	margin:0;
	padding:0;
}

html, body {background: #002113;}

li {list-style: none;}

.clear  {clear:both; width: 1px; height: 1px;}
.line {width: auto; height: 1px; background: #bdbfbe; clear: both; margin: 5px 0 10px 0;}
/*top*/
.top {
	background: #e3382e;
	background-size: 80%;
	position: relative;
	margin: 0 0 2% 0 !important;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.red-area {background: transparent url(../images/logo.png) no-repeat left center; background-size: 35%; height: 72px;/*changed*/ display: block;}

/**login ribbon**/

#login_block { float: left; cursor:default;}

.default_popup,.green {
	background: #009438;
	width: 132px;
	display: block;
	padding: 19px 0 0 0; /*changed*/
	position: absolute; /*changed*/
	outline: none;
	margin: 0;
	right: 0;
	
}

.default_popup,.green:after {
	top: 100%;
	left: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	/*border-color: rgba(0, 148, 56, 0);
	border-top-color: #009438;*/
	/*border-width: 20px 66px;*/
	margin-left: 0;
	
}

.green:hover li, .green:hover img, .default_popup:hover li, .default_popup:hover img{opacity: .9;}

.default_popup ul, .green ul{
	text-align: center;
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}

.default_popup, li .green li{display: block;}

.default_popup li:nth-child(2), .green li:nth-child(2){
	font-size: 14px;
	font-weight: 700;
	margin: 5px 0 0 0;
}

.default_popup li:last-child, .green li:last-child{font-size: 16px; font-weight: 900;}

/**buttons**/
a.footerclick{text-transform: uppercase; color:#fff;}
a.footerclick:hover, a.footerclick:focus{color:#00da14}
a.emailclick{color:#454545;font-weight:bold}
a.emailclick:hover, a.emailclick:focus{color:orange}
a.link { color: green; text-decoration: none; letter-spacing: 1px; margin: 0; }
a.link:hover, a.link:active, .cancel:active, .cancel:hover { color: #15C101; }
.cancel { font-size:18px; color: green; padding: 10px; font-weight: 700; text-transform: uppercase; margin: 0 10px;}
.fs14, .fs15 {font-size:14px;}
.fs18 {font-size:18px; color: #fff ; background: green; padding: 5px 0; font-weight: 900; text-transform: uppercase; display: block; }
.fs25 {font-size:18px; color: #fff ; background: green; padding: 5px 15px; font-weight: 900; text-transform: uppercase; margin: 0;}
.fs18:hover, .fs25:hover, .fs18:active, .fs25:active {color: #009326; background: #015d2e;}
.ma-header-title {color:#004626; font-weight: 700; font-size: 14px; text-align: left; line-height: 0; text-transform:uppercase; display: inline-block; margin: 0 0 15px 0;}
.ordernako{margin: 40px auto; font-weight:900; text-transform: uppercase; padding: .8% 2%; color: #fff; background: #e9000f; text-decoration: none; letter-spacing: 0px; font-size: 24px;}
.placeorder{font-weight:900; text-transform: uppercase;margin: 0 auto; padding: .8% 2%; color: #fff; background: #015D2E; text-decoration: none; letter-spacing: 0px; font-size: 18px;}
.ordernako:hover, .placeorder:hover, .ordernako:focus, .placeorder:focus{background:  #b90000;}
.downbuttoncontainer{font-size:18px; cursor: default; background: #babbc0; padding: 5px 15px;  letter-spacing: 1px;  margin: -5px 0 25px 0; color: #fff; text-transform: uppercase;font-weight:900; float: right;}
.downbuttoncontainer:hover{ background: #d10214; }
.btnAddToCart {padding: 10px 12px; background: #E9000F; float: right; color: #fff;margin: 25px 0 0 0; font-size: 21px; font-weight: 900; text-transform: uppercase; box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}
.btnAddToCart:hover {background: #006600;}

/*POPUP.CSS*/

.preloader {
	z-index: 101;
	margin: 0 auto;
}

.closex {
	color: #015d2e;
	font-weight: 700;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;
	font-size: 21px;
}

.closex:hover {
	color: orange;
}

.user-head {font-size:16px; font-weight: 900; color: #fff; background: #009438; line-height: 16px; padding: 25px 0 2.5% 23px; border-bottom: 3px solid #006229; text-transform: uppercase;}
.login-head {font-size:28px; font-weight: 900; color: #fff; background: #009438; line-height: 16px; padding: 30px 0 15px 23px; border-bottom: 3px solid #006229; text-transform: uppercase;}
.login-head span, .user-head span{font: lato; font-size:14px; font-weight: 700; text-transform: none;}

.popup_content .form {padding: 0; margin: 0 auto; width: 72%}

.popup_content {
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-box-shadow: 0 ;
	box-shadow: 0 ;
	background: #fff;
}
.popup_content .signinform {display: block; padding: 0; margin: 0; width: 100%;}
.popup_content .signinform ul{margin: 20px 0 0 0;}
.popup_content .signinform li:first-child, 
.popup_content .signinform li:nth-child(2){
	margin: 10px 0;
	padding: 0;
}

.popup_content .signinform input[type="text"], 
.popup_content .signinform input[type="password"]{
	color: #7d7d7d;
	width: 100%;
	border: 1px solid #cccccc;
	margin: 0;
	padding: 3px 2px;
	outline: none;
}

.submit{
	color: #FFf;
	cursor: pointer;
	padding: 5px 20px;
	text-align: center;
	font-family: lato; 
	font-size: 16px; 
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #008000;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	margin: 0;
	outline: none;
	border: none;
	float: right;
}

.submit:hover{background: #005926;}

.forgot {
	text-align: center;
	margin: 5% 7%;
	font-size: 14px;
}

.forgot a{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 16px;
	color: #e9000f;
}

.forgot a:hover, .register-head a:hover, .forgot a:active, .register-head a:active{color: orange}

.signup {
	width: 100%;
	padding:0;
	border-top: 1px dashed #8cb89e;
	background: #f2f2f2;
}

.register-head {
	font-size: 24px;
	color: #252525;
	margin: 0 auto;
	padding: 2% 0;
	display: block;
	text-align: center;
	width: 80%;
	background:transparent url(../images/gwd_logo.png) no-repeat left center;
}

.register-head a{
	text-decoration: none;
	text-transform: uppercase;
	color: #008000;
	font-size: 24px;
	font-weight: 900;
}


/**accordion**/

.accordion-toggle {cursor: pointer; padding: 0 0 14px 0; /*changed*/}

.accordion-content {
    display: none;
    border-top: 1px solid #00722b;
    padding: 10px 0 /*changed*/;
	
}

.accordion-content a{
    text-decoration: none;
	vertical-align: middle;
    font-size: 14px;
    display: block;
    margin: 5px;
	color: #ccead7;
}
.accordion-content img{vertical-align: middle; margin-right: 6px; /*changed*/}
.accordion-content a:hover, .accordion-content a:active{color: orange;}

/**popup tabs**/
#tab-container{
	margin: 0;
	width: 600px;
}

.etabs { 
	margin: 0; 
	padding: 25px 0 15px 23px; 
	color: #fff;
}

.tab { 
	display: inline-block;   
	margin: 0;
	outline: none;
	zoom:1; 
	*display:inline;
	background: #015d2e;
}

.tab a {
	display: block; 
	padding: 5px 8px; 
	margin: 0;
	outline: none;
	text-decoration: none;
	text-transform: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	top: 0;
}

.tab a:hover { 
	color: orange; 
}

.tab.active { 
	padding: -1px 0 0 0; 
	position: relative; 
	background: #e2382d !important; 
	top: 0;
}

.tab-container .panel-container { 
	background: #fff;  
	padding: 20px 23px 40px 23px; 
	margin: 15px 0 0 0;
	font-size: 14px;
}

.panel-container { margin: 0; padding: 0;}
.account {float: left; margin: 0 30px 0 0; }
.account img{border: 1px solid #c0c0c0;}
.user-info {margin: 0; display: block !important; width: 70%!important; float: left;}
.user-info li{display: inline-block; margin: 0 0 5px 0; vertical-align: top;}
.user-info .title{width: 130px;}
.edit-button {float: right;font-size: 11px; cursor: default; margin: 0 0 2.5% 0;}
.edit-button:hover {color: orange;}
.edit-button img{margin: 0 0 0 5px; vertical-align: top;}
.edit-button:hover img{opacity: .7;}
.pizza-order {width: inherit; border-collapse: collapse;}
.pizza-order a{text-decoration: none;color: #008000;}
.pizza-order a:hover{color: orange;}
.pizza-order .past-orders{margin: 15px 0;}

.pizza-order .past-orders > li{
	display: inline-block;
	margin: 0 5px 0  0;
	padding: 0 5px 0  0;
}

.pizza-order .actions > li{
	display: inline-block;
	margin: 0 2.5%;
	font-weight: 900;
}

.pizza-order .actions{text-align: center;}
.pizza-order th{padding: 2.5% 0;font-weight: 700;}
.pizza-order td{padding: 5px 0;}
.pizza-order tr{border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.pizza-order th, .pizza-order tr{text-align: left;width: 22%;}
.pizza-order th:nth-child(3), .pizza-order tr:nth-child(3){text-align: left; width: 25%}
.shipping-address {margin: 0; width: inherit;}
.shipping-address li{display: inline-block; margin: 0 0 40px 0; vertical-align: top;}

/**Greencard Pop-up**/

.greencardheader{
	background: url(../images/GW_Ultimate_Green_Card_hires.jpg) no-repeat; 
	background-size: 100% auto;
	width: 100%; 
	height: 285px;
}

.promo {
	padding: 0 ;
}

.promo .cards{
	width: 80%;
	height: auto;
	margin: 0 ;
}

.promo .blurb{
	width: 85%;
	margin: 20px auto;
	padding: 0 ;
	text-align: left;
	
}

.promo .blurb h3{
	font-size: 20px;
	font-weight: 700;
}

.promo .blurb ul{
	margin: 10px 0 0 3.5%;
	width: 95%;
}

.promo .blurb li{
	font-size: 14px;
	list-style-type: square;
}

.promo .blurb a{
	font-weight: bold;
	color: green;
}

.promo .blurb a:hover{
	color: orange;
}

.popup-btn{
	padding: 2.5% 5%;
	text-align: center;
}

.sublist li {list-style-type: circle!important;}

.card {cursor:pointer;}
.card:hover, .card:active {opacity: .75;}
/**product popup**/

.reveal-modal {
	background: #e4e5e6;
	max-width: 650px;
	padding: 0;
}

.pic-wrapper {
	width:inherit; 
	height: 200px; 
	overflow:hidden; 
	background: #cfd1d2;
	text-align: center;
}

.pic-wrapper img{margin: -100px 0 0 0;}
.data-description {width: 95%; margin: 20px auto; display: block;}
.data-description h3{font-size:24px; font-weight: 900; margin-bottom:10px; color: #004626;}
.data-description p{display:block;margin-bottom:20px; width:100%; font-size: 16px; color: #414042; line-height: 21px;}
.price-configured-wrapper {font-size: 14px; text-transform: uppercase;}
.price-configured-wrapper span {font-weight: 700; }

table.product { width: 100%; text-align: left;}
table.product span.column-title { width: 200px; display: block; float: left; margin: 5px 13px 0 0; }
table.product .size-select { width: 270px; }
.product td{border: none; vertical-align: middle;  font-size: 14px; padding: 5px 0; }
.product{border-top: 1px solid #babcbe; display: block; padding: 15px 0 0 0;}
.product input[type="text"]{width: 100px}
.product-box {background: #e4e5e6;}

/**left area**/

.musta {width: 100%;}

.musta > span{
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.search {background: #fff url(../images/search.png) no-repeat 98% center;}

.maincontent {padding: 0; background: #fff; }
.title{
	background: #009438;
	padding: 10px 0 10px 12px;
	outline: none;
	cursor: default;
	border-bottom: 1px solid #006229;
}

.title a{
	color: #fff;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}
.title a > span{font-weight: 900;}
.content {border-top: 2px solid #006229; height: auto}
.whatsnewcontent {text-align: center;}
.resibodisclaimer-below-order {margin: 20px auto; width: 75%; font-size: 13px; color: #58595B;}

/**step02 tabs**/
#tab-container02{
	margin: 0;
	width: inherit;
}

.order-tabs { 
	margin: 5% 0 1% 0; 
	padding: 5px 10px; 
	color: #fff;
	text-align: center;
}

.order-tabs  .tab02 { 
	display: inline-block;   
	margin: 0 1%;
	outline: none;
	zoom:1; 
	*display:inline;

}

.order-tabs  > .tab02 > a {
	display: block; 
	padding: 5px 8px; 
	margin: 0;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	top: 0;
	color: #015d2e;
}

.order-tabs > .tab02 > a:hover { 
	color: orange; 
}

.order-tabs > .tab02 > a:active { 
	padding: -1px 0 0 0; 
	position: relative; 
	background: #015d2e;
	color: #fff!important;
	top: 0;
}

.tab-order .panel-container { 
	padding:0; 
	margin: 15px 0 0 0;
	font-size: 14px;
}

.panel-container { margin: 0; padding: 0;}
.productlist span{ color: #0c4228; font-weight: 700;display:block; padding:  5% 0 0 0; height: 75px;}
.productlist span:hover{ color: orange}
/*
.productimg { 
	height: auto; 
	width: 100%;
	border: 3px solid green;
}
 
.productimg :hover { border: 3px solid gray;}*/

.guest-form {font-size: 14px;}
.guest-form  td{padding: 10px 0;}

/**shopping cart**/
.gray { background: #eff0f0; border-top: 1px solid #babcbe; margin: 35px 0 0 0; padding: 20px 12px 0px 12px}
.cartlabel{
	display: block; 
	font-size:18px; 
	text-align: left; 
	margin: 0 0 20px 0; 
	color: #005f2a; 
	text-transform:uppercase; 
	background: transparent url(../images/cart.png) no-repeat left center; 
	padding: .5% 0 0 30px;
	font-weight: 700;
}
#cart_loader {margin: 0 auto; padding-top:5%;}
.cartcontent{width:inherit;background:transparent;margin:0; text-align: left;}
.cart{color:#34393C;font-weight:700;font-size:40px; margin: 5px 10px !important; float: right;}
.cartx{overflow:hidden;float:right; cursor: pointer; position: absolute; margin: -12px 0 0 -11px;}
.cartx:hover{opacity:.5}
.orderL{width:65px; height: 65px; background-color: #eff0f0;display:inline-block;margin: 0; vertical-align: top;}
.orderR{width:59%;background-color:transparent;display:inline-block;margin: 0; vertical-align: top; padding: 5px 0 0 0;}
p.orderdescription{padding:0; margin:0 0 0 5%; font-weight: bold; font-size:14px; color: #414042; line-height:16.8px;}
.sampleprev {height: 65px; width: 65px;}

/**delivery details**/
.delivery-label {border-bottom:1px solid #bdbfbe; margin:  0;}
.step2, .step3 {padding: 25px 12px;}
.delivery-label h4{float: left; padding:0 0 8px 0; margin: 0; text-align:left;color:#004626;font-size:18px; font-weight: 400; text-transform: uppercase; line-height: 14px; vertical-align: middle;}
.delivery-label h4 > span{font-weight: 400; padding:0; margin:0; font-size: 14px; text-transform: none; color: #34393c;}
.delivery-label select{float: right; border:1px solid #bdbfbe; width: 45%; vertical-align: middle;}
.delivery-info {color: #414042; font-size: 14px; float: left; width: 45%; margin: 0 30px 0 0;}
.delivery-info li{display: inline-block; margin: 5px 0;}
.form-group li, .delivery-info li:first-child, .delivery-info li:nth-child(3){width: 49.5%;}
.info-text-large { color: #008000;font-size: 16px; padding: 0; margin: 0 0 5em 0; }
.info-text-label {color: #34393C;font-size: 12px; padding-left: 3px; }
.link-right {float: right; padding-left:12px; margin-top:25px;}
.aitoc_main_wrappper {margin:0; font-size: 14px; width: 100%; padding: 0 12px;}
.form-group li{ margin-bottom: 10px; display: inline-block;}
.signout-text { font-size: 16px; margin: 0; padding: 0; float: left;}
.signout-text li{ display: inline-block;}
.bottom-buttons{margin: 25px 0 0 0; padding: 0; display: block; width: 100%;}
.bottompano1, .bottompano2{margin:0 0 40px 0 ;padding: 0;text-align:center; width:100%;}

/**payment details**/
.tabs {margin: 0 0 20px 0;}
.tabs li {font-size: 16px; display: inline-block; color: #008000; text-transform: uppercase; margin: 0 25px 0 0;}

.tab_content {padding: 10px 0; }
.tab_content p{line-height: 18px; margin: 0 0 2.5% 0; font-size: 14px;}
.tab_content img{width: 35px; height: auto;}
.cashtextfield1{
	margin:  0 1% 6% 0;
	border:1px solid #bbbcbe;
	width:69%;
	padding:0 2% 0 2%;
}

.cashtextfield2{
	margin:  0 1% 6% 0;
	border:1px solid #bbbcbe;
	height:120px;
	width:69%;
	padding:0 2% 0 2%;
}

.cashtitle, .cashtitle2{margin: 0;float:left;padding: 0; width:30%}
p.cash{margin: 0 0 1% 0; }

/**right area**/

.social-media {text-align: right;width: 100%; margin: 0 0 11px 0;}
.social-media li{display: inline-block; margin: 0 0 0 2.5%;}

.social-media .social-media-btn {
	width: 40px;
	height: 40px;
	display: block;
}

.social-media .social-media-btn:hover, .social-media .social-media-btn:focus {
	opacity: .6;
}

.social-media li a#facebook {
	background: transparent url(../images/fb_link.png) no-repeat center;
	background-size: 40px;
}

.social-media li a#twitter {
	background: transparent url(../images/twitter_link.png) no-repeat center;
	background-size: 40px;
}

.social-media li a#googleplus {
	background: transparent url(../images/gplus_link.png) no-repeat center;
	background-size: 40px;
}

.social-media li a#instagram {
	background: transparent url(../images/gplus_link_instagram.png) no-repeat center;
	background-size: 40px;
}

.resibobody {padding: 0 0 20px 0; color: #34393c; font-size: 14px;}
.resibotitle {border-bottom: 1px solid #bcbdbf; padding: 2.5% 2.5%;}
.resibo {color: #035b31; text-transform: uppercase; font-weight: 900; padding: 0; margin:  0;}
.resiboorder {padding: 15px 2.5% 30px 2.5%;}
.resibocontent2-popup{font-size:14px; margin: 20px 0 0 0; padding: 0;}
.resibocontent2 b{ padding: 6px 0;}
.resibocontent2-popup b{ padding: 6px 0; margin: 0;}
p.resibocontent {display:inline-block; width: 100%; margin: 0; padding: 0;}
p.resibocontent2 {
	text-transform: uppercase;
	display: inline-block;
	vertical-align: bottom;
	padding: 5px 0 0 0;
}

.updateholder {
	text-transform: uppercase;
	width: 90px;
	background: #015d2e;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 900;
	border: none;
	float: right;
	display: inline-block;
	vertical-align: bottom;
 }
 
.updateholder:hover, .updateholder:active {
	color: #fff;
	background: red;
}

.updateholder2 {
	text-transform: uppercase;
	background: #015d2e;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 900;
	border: none;
	float: right;
	display: inline-block;
	vertical-align: bottom;
 }
 
.updateholder2:hover, .updateholder2:active {
	color: #fff;
	background: red;
}

.resiboitem {border-top: 1px dashed #929395;}
.cart {float: right; margin: -2.5% 2.5% 0 0;}
.list{width:inherit; padding: 0 0 15px 0}
table.resibo_item_list {margin: 15px 0 0 2.5%; padding: 0 13px; width: 94%}
table.resibo_item_list td.item_content{padding: 0; text-align: right; }
.resibo_total_breakdown {width: 100%; background: #005926; font-size: 14px; margin: 0;  color:#fff}
.resibo_total_breakdown td {padding: 2.5%;}
.resibo_total_breakdown td:first-child {white-space: nowrap; width: 49%; text-align: left; font-weight:900; text-transform:uppercase;}
.resibo_total_breakdown td:last-child {white-space: nowrap; width: 50%; text-align: right; }
.vat{display:inline-block; width:120px; margin: 0; letter-spacing:.5px; font-size:13px;}
.price {display:inline-block; margin: 0;letter-spacing:.5px;font-size:14px;}
.qtytextfield2{
	margin: 0 0 1% 16px;
	background: #fff; 
	border:1px solid #bbbcbe; 
	height:21.5px; 
	width:30px; 
	padding: 0 1% 0 2.5%;
}
.qtytextfield3{
	margin: 0 0 1% 6px;
	background: #fff; 
	border:1px solid #bbbcbe;
	height:21.5px;
	width:17px;
	padding:0 1% 0 2.5%;
}

#delivery_receipt_info_wrapper {padding: 5% 2.5%; border-bottom: 1px solid #bdbfbe;}
.deliverleft{width:55%; float:left;}
.deliverleft span{margin: .1% 0 0 0; display: block;}
.deliverright{width:40%;float:right; margin: 0 0 0 5%;}
.otherinstructions { padding:0 0 0 .5%; margin: 17px 0 0 0;}
.otherinstructions li{ display: inline;}
.institle { font-size: 14px; font-weight: bold; text-transform: uppercase; }

#happy-plus {text-align: center; padding: 5% 2.5%;}
#happy-plus h1{font-size: 16px; font-weight: 600; margin: 0 auto 5% auto; width: 85%;}
#happy-plus p{ margin: 0 auto 5% auto; width: 80%;}

/**footer**/

footer{background-color:#00150c; clear: both; width:100%; padding: 30px 0; margin: 75px 0 0 0; color: #fff; font-size: 18px;}
p.footertext{margin: 0 0 2.5% 0;}
p.footertext > b{color:#00A240;}
.footertext2{color:#FFF;margin: 0;font-size:18px; float: right; letter-spacing:0;}
.footertext2 li { text-align: right ; display: block; font-weight:700; padding: 7.5px 0;}
.footertext2 li:first-child { padding: 0 0 7.5px 0; }
.footertext2 li:nth-child(2) { border-top: 1px solid #005926; border-bottom: 1px solid #005926; }

/**aitoc**/
#aitoc_rewrite_saveshipping_form { width: inherit; margin:  0 0 0 15; display: block; color: #414042; }
#aitoc_rewrite_saveshipping_form .form-list .fields,
#aitoc_rewrite_saveshipping_form .form-list .control { margin-bottom: 15px; display: block; }
#aitoc_rewrite_saveshipping_form .gwdaitocfield { padding: 4px; margin: 8px 0 0 45px; }
#aitoc_rewrite_saveshipping_form .form-list .fields .input-box { margin-bottom: 10px; display: inline-block;}
#aitoc_rewrite_saveshipping_form .form-list .control .options-list label { display: block; padding-left: 15px; text-indent: -15px;  }
#aitoc_rewrite_saveshipping_form .form-list .control .options-list label > input { position: relative; vertical-align: bottom; width: 30px; }
#aitoc_custom_error_message_wrapper { background: #FCDEDE; padding: 10px; border: 1px solid #F95757;  }
#aitoc_custom_error_message_wrapper ul li { display: block; margin-bottom: 5px; }
#aitoc_custom_error_message_wrapper ul li:last-child { margin-bottom: 0; }
.receipt-productname {
	padding: 15px 2.5% 0px 2.5%;
	color: #004626;
	font-weight: 600;
	font-size:16px;
	line-height: 18px;
}

.receipt-item-options {padding: 0; font-size: 14px; color: #004626}
.receipt-item-value, .receipt-item-label  {padding: 0; font-size: 12px; margin:0 10px;}
.receipt-popup-productname {font-size:14px; font-weight: bold; padding-left:2%; color: #004626;}
.receipt-popup-item-options {font-size: 14px; padding-left:60px;}
.receipt-popup-item-value {padding-left:20px;}
.field label {font-weight: bold; font-size: 14px; display: inline-block; width: 256px; }
.delivery-confirmation-wrapper {width: 100%; margin: 0;}
.inner-delivery-confirmation {width: 100%; margin: 0;}
form.aitoc_rewrite_saveshipping_form {width: 300px; margin: auto;}

/**payment confirmation receipt**/
.resibotitle3{color:green; font-size:30px; padding:0; border-bottom: 1px solid #bcbdbf;}
.finalorder, .ok {font-size: 24px; width: auto; margin-top: 10px; text-align: center; }
.finalorder a {color:#fff;}
.otherinstructions-popup { padding:0; margin: 17px 0;}
.instructions-wrapper{padding: 0; }

h4{line-height:20px !important;}





