body {
  background: #c7571d url("/images/home-bg.svg");
  background-size: 3%;
  min-height: 100%;
}
nav.navbar {
  border-radius: 0;
  background-color: rgba(255,255,255,0.7);
  border: 0;
}
.fb-dashboard a {
  display: inline-block;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em;
  min-width: 200px;
  background: #fff;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  transition: all 250ms ease;
  color: #e69500;
}
.fb-dashboard a:hover {
  text-decoration: none;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.fb-dashboard a img {
  display: block;
  margin: 0 auto 0.5em;
}
.panel-default {
  background: rgba(255,255,255,0.8);
}
.panel-default .panel-heading {
  background: rgba(255,255,255,0.8);
}
/*.btn-primary {*/
  /*background-color: #ffa500;*/
  /*border-color: #e69500;*/
  /*transition: all 250ms ease;*/
/*}*/
/*.btn-primary:hover {*/
  /*background-color: #ffae1a;*/
  /*border-color: #ffb326;*/
/*}*/

.paging {
  margin-bottom: 20px;
}
.paging .pagination {
  margin: 0;
}
.panel-body .table {
  background-color: white;
}

#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 16px;
}
