.options
  user-select: none
  width: 360px
  float: left
  margin-right: 1em
  .wrap
    background-color: rgba(#fff, 0.2)
    border-radius: 10px
    min-height: 600px
    padding: 5%
  ul
    margin: 0
    padding: 0
    list-style-type: none
    li
      display: inline-block
  h3
    color: brown
    font-size: 1.2em
    text-align: center
    margin: 1em 0 0.25em
  .js-carousel
    background-color: rgba(#fff, 0.4)
    padding: 0.5em
    border-radius: 12px
    position: relative
    li
      height: 75px
      background-color: #fff
      border-radius: 12px
      display: block
      margin: 0 0.25em
      cursor: pointer
      a
        text-align: center
        display: block
        height: 100%
        line-height: 4em
        img
          max-width: 90%
          position absolute
          top: 50%
          left: 50%
          transform translate(-50%, -50%)
      &.active
        border: 3px solid #FF740F
        a
          transform: scale(1.05)

.options-item
  display: none
  position: relative
  &.active
    display: block

.options-size
  display: block

.options-size
  cf()
  margin-top: 0.25em
  li
    cursor: pointer
    a
      background-color: #86412A
      text-transform: uppercase
      font-weight: 600
      border-radius: 10px
      border-bottom: 5px solid #5B2E1C
      font-size: 1em
      letter-spacing: 0.05em
      width: 100%
      margin-right: 5%
      text-align: center
      display: block
      color: #fff
      padding: 0.25em 0.5em
    &.active
      a
        background-color: #5B2E1C
        position: relative
        top: 5px
        border-bottom: none
  ul:first-child li
    col(1/3)
    margin-top: 0.25em
    margin-bottom: 1em
    a
      min-height: 4em
      line-height: 4em
      font-size: 1.25em
  ul:last-child li
    col(1/4, cycle: 4)
    margin-top: 0.15em
    margin-bottom: 0.15em
    a
      line-height: 2em
      letter-spacing: -0.025em
      font-size: 1.75em
      padding: 0
      padding-top: 0.50em
      min-height: 2em
      &:before
        content: "SIZE"
        color: #fff
        display: block
        font-size: 0.4em
        position: relative
        top: 0.5em
        line-height: 0
        letter-spacing: 0

.options-style
  cf()
  position: relative
  margin-top: 0.25em

.options-style-color
  background: #fff
  position: absolute
  top: 0
  right: -2em
  border-radius: 0 8px 8px 0
  opacity: 0
  transition: all 250ms ease
  &.active
    opacity: 1
    right: -4em
  li
    display: block !important
    margin: 0.5em
    cursor: pointer
    a
      width: 30px
      height: 30px
      display: block
      text-indent: -999px
      border: 1px solid rgba(#000, 0.1)
      border-radius: 5px
    &.active
      a
        border: 2px solid #FF740F


.options-design-upload
  background-color: rgba(#fff, 0.4)
  padding: 0.5em 1em
  border-radius: 12px
  position: relative
  width: 100%
  margin: 1em 0
  .btn
    margin: 0.25em 0.15em


.option-strap-accessories
  *
    overflow: visible !important

